.photo__grid {
    box-sizing: border-box;
    display: grid;
    margin: 0 auto;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 16px;
    grid-auto-flow: row dense;
    grid-auto-rows: minmax(216px, auto);
}

@media screen and (max-width: 1120px) {
    .photo__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 14px;
        row-gap: 14px;
    }
}

@media screen and (max-width: 980px) {
    .photo__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        column-gap: 16px;
        row-gap: 16px;
    }
}

@media screen and (max-width: 630px) {
    .photo__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 12px;
    }
}
