.photo__grid {
    box-sizing: border-box;
    display: grid;
    margin: 0 auto;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-flow: row dense;
    grid-auto-rows: minmax(216px, auto);
}
@media screen and (max-width: 1120px) {
    .photo__grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 92px 48px 0 48px;
    }
}
@media screen and (max-width: 980px) {
    .photo__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        margin: 92px auto 88px;
    }
}
@media screen and (max-width: 630px) {
    .photo__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
