.header__zone {
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
@media screen and (max-width:1024px) {
    .header__zone {
        margin: 28px 48px 0 48px;  
    }
}
@media screen and (max-width: 322px) {
    .header__zone {
     padding: 16px 16px 48px 16px;
 
 }
}