.places {
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    grid-gap: 80px;
}


.places__head-container {
    display: flex;
    column-gap: 40px;       
}

.places__main-container {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-top: 50px;
}
.places__nav-item {
    flex-direction: column-reverse;
    display: flex;
    
}
.places__text-container{
    flex-direction: column;
}


