.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 106%;
    font-style: normal;
    max-width: 460px;
    padding: 0;
    margin: 0;
    
}

@media screen and (max-width: 1030px) {
    .place__title {
        line-height: 100%;
        max-width: 440px;       
    }
}

@media screen and (max-width: 1018px) {
    .place__title {
        font-size: 60px;
        max-width: 340px;
    }
}

@media screen and (max-width: 770px) {
    .place__title {
        font-size: 42px; 
        max-width: 330px;
        line-height: 46px;
                      
        
        
        
    }
 

}

@media screen and (max-width: 650px) {
    .place__title {
        margin-right: 0;
          margin-left: 16px;
        
      
    }

}


@media screen and (max-width: 340px) {
    .place__title {
        font-size: 32px;
        min-width: 288px;
        max-width: fit-content;
        
        
    }
}
