.header__lang-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 18px;
}

@media screen and (max-width: 450px) {
    .header__lang-container {
        margin-top: 14px;
    }
    
}