.header__lang-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 18px;
    margin-bottom: 0;
}

@media screen and (max-width: 322px) {
    .header__lang-container {
        margin-top: 14px;        
    }
}
