.lead__img-box {
    margin: 0px 100px 0px 100px;
}

@media screen and (max-width: 1024px) {
    .lead__img-box {
        margin: 0 48px 0 48px;
    }
}

@media screen and (max-width: 800px) {
    .lead__img-box {
        margin: 0;
    }
}

@media screen and (max-width: 765px) {
    .lead__img-box {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 335px) {
    .lead__img-box {
        margin: 0;
        max-width: 320px;   
    }
}

