.places__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;     
}

@media screen and (max-width:780px) {
    .places__list {
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 380px) {
    .places__list {
        margin: 0;
    }
}