.place__nav {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 650px) {
    .place__nav {
        max-width: fit-content;
        margin-left: 16px;
    }
}
