.footer__copyright {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 7px;
    font-size: 14px;
}

@media screen and (max-width: 321px) {
    .footer__copyright {
        margin: 0;
    }
}