.footer__copyright {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 24px;
    font-size: 14px;
}

@media screen and (max-width: 550px) {
    .footer__copyright {
        margin-top: 15px;
    }
}