.intro {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1030px) {
    .intro {
        max-width: 930px;
    }
}


@media screen and (max-width: 770px) {
    .intro {
        max-width: 768px;
    }
}


