.cover {
    min-height: 740px;
    background-image: url(../../images/cover.jpg);
    background-size: cover;
    z-index: 0;
    min-width: 1184px;
    background-position: center;
    display: inline;
    position: relative;
    margin: 0 auto;
}

.cover::before {
    content: "";
    display: inline;
    position: absolute;
    min-width: 1184px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(42, 44, 47, 0.3);
    transition-duration: 2s;
}

.cover:hover::before {
    background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) {
    .cover {
        min-width: 1024px;
        min-height: 640px;
    }
    .cover::before {
        min-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-width: 890px;
        min-height: 570px;
    }
    .cover::before {
        min-width: 890px;
    }
}

@media screen and (max-width: 891px) {
    .cover {
        min-width: 768px;
        min-height: 480px;
    }
    .cover::before {
        min-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-width: 620px;
        min-height: 420px;
    }
    .cover::before {
        min-width: 620px;
    }
}

@media screen and (max-width: 625px) {
    .cover {
        min-width: 540px;
        min-height: 380px;
    }
    .cover::before {
        min-width: 540px;
    }
}

@media screen and (max-width: 541px) {
    .cover {
        min-width: 440px;
        min-height: 340px;
    }
    .cover::before {
        min-width: 440px;
    }
}

@media screen and (max-width: 441px) {
    .cover {
        min-width: 320px;
        min-height: 240px;
    }
    .cover::before {
        min-width: 320px;
    }
}

@media screen and (max-width: 352px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
    }
}
