.cover__title {
    max-width: 560px;
    line-height: 106%;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
    text-decoration: none;
    color: #ffffff;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    .cover__title {
        font-size: 32px;
        line-height: 100%;
    }
}