.intro__main-text {
    margin: 41px 0 33px 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    max-width: 43.125rem;
    
}
@media screen and (max-width: 1024px) {
    .intro__main-text {
        margin: 0 240px 33px 48px;
    }
}

@media screen and (max-width: 800px) {  
    .intro__main-text {
        margin: 0 0 33px 24px;
        max-width: 720px;
        line-height: 161%;
    }
}

@media screen and (max-width: 752px) {  
    .intro__main-text {
        margin: 0 16px 33px 16px;
        max-width: 520px;
        line-height: 161%;
    }
}

@media screen and (max-width: 322px) {  
    .intro__main-text {
        margin: 0 16px 31px 16px;
        padding-top: 0;
        line-height: 163%;
    }
}