.photo {
    display: flex;
    max-width: 1184px;
    box-sizing: border-box;
    margin: 0 auto;
   
}

@media screen and (max-width: 350px) {
    .photo {
        padding-left: 16px;
    padding-right: 16px;
    }
}