.lead__illustration {
    width: 100%;
    height: auto;  
    position: relative;
    margin-top: 31px; 
}

@media screen and (max-width: 1030px) {
    .lead__illustration {
        margin-top: 23px;
    }
}
@media screen and (max-width: 800px) {
    .lead__illustration {
        margin-top: 23px;      
    }
}



@media screen and (max-width: 322px) {
    .lead__illustration {
        margin-top: 25px;
        max-width: 100%;

    }
}