.lead__illustration {
    max-width: 984px;
    max-height: 100%;  
    margin: 0 auto;
    padding-top: 32px;
}
.hog {
    display: block;
}
@media screen and (max-width: 1030px) {
    .lead__illustration {
        padding-top: 26px;              
    }
    .hog {
        max-width: 928px; 
    }
}

@media screen and (max-width: 929px) {
    .lead__illustration {
        max-width: fit-content;              
    }
}

@media screen and (max-width: 322px) {
    .lead__illustration {
        margin-top: 25px;
        max-width: 100%;
    }
}

.lead {
    max-width: 984px;
    margin: 0 auto;   
}