.intro__title {
    margin: 5px 0 40px 0;
    font-weight: 900;
    line-height: 100%;
    font-style: normal;
    max-width: 43.125rem;
    font-size: 54px;    
}

@media screen and (max-width: 750px) {
    .intro__title {
     margin-left: 16px;
    }
}

@media screen and (max-width: 621px) {
    .intro__title {
     font-size: 32px;
    }
}

@media screen and (max-width: 322px) {
    .intro__title {
        max-width: 75%;
        margin-bottom: 35px;
        line-height: 109%;
    }
}

