.intro__title {
    margin: 3px 0px 40px 100px;
    font-weight: 600;
    line-height: 107%;
    font-size: 3.375rem;
    max-width: 43.125rem;
}
@media screen and (max-width: 1024px) {
    .intro__title {
        margin: 92px 0 40px 48px;;
    }
}
@media screen and (max-width: 770px) {
    .intro__title {
        margin: 88px 24px 40px 24px;
    }
}
@media screen and (max-width: 322px) {
    .intro__title {
        margin: 64px 16px 40px 16px;
        font-size: 32px;
    }
}