.intro__title {
    margin: 5px 0 40px 0;
    font-weight: 900;
    line-height: 100%;
    font-style: normal;
    min-width: 43.125rem;
    font-size: 54px;
    letter-spacing: 0.6px;
}

@media screen and (max-width: 800px) {
    .intro__title {
        margin: 4px 24px 40px 24px;
    }
}

@media screen and (max-width: 322px) {
    .intro__title {
        margin: 0 16px 40px 16px;
        font-size: 32px;
        line-height: 109%;
    }
}

.intro {
    max-width: 984px;
    margin: 0 auto;  
}

@media screen and (max-width: 1030px) {
.intro {
    max-width: 930px;
}

}
    

@media screen and (max-width: 1000px) {
    .intro {
        max-width: 720px;
    }
    
    }
